<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div id="row">
      <div class="column">
      <img src="../../assets/images/100-underarmour.png" alt="logo of underarmor">
      <img id="center" src="../../assets/images/100-brownbear.png" alt="logo of brownbear carwash">
      <img src="../../assets/images/100-cocacola.png" alt="logo of cocacola">
      </div>
    <hr>
    <div class="column">
      <img src="../../assets/images/100-usfs.png" alt="logo of washington state forest">
      <img src="../../assets/images/100-ikon.png" alt="logo of Ikon">
    </div>
  </div>

  </body>
</html>