<div class="container text-center">
    <div class="row">
        <div class="col-4-md">
        <h5 class="footHeadColor">RESORT</h5>
        <a class="/" href="/">ABOUT US</a>
        <a href="/">EMPLOYMENT</a>
        <a href="/">GIFT CARDS</a>
        </div>
        <div class="col-4-md">
        <h5 class="footHeadColor">HELP</h5>
        <a class="/" href="/">CONTACT US</a>
        <a href="/">KNOW BEFORE YOU GO</a>
        <a href="/">POLICIES</a>
        <a href="/">FAQ</a>
        </div>
        <div class="col-4-md">
            <h5 class="footHeadColor">QUICK INFO</h5>
            <p>425.434.7669</p>
            <p>1001 WA-906, Snoqualmie Pass,</p>
            <p>WA 98068</p>
            <a href="/">Road Conditions</a>

        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
      </div>
     </div>
    </div>
    <div class="footerCenter">
        <a href="/">Web Accessibilty</a><a hfer="/">Privacy Policy</a><a href="/">Edit Email Preferences</a>
        <p>© Summit at Snoqualmie 2018</p>
    </div>
        <!-- <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-pinterest"></a> -->