
.footerCenter{
   text-align: center;
    padding: 10;
    bottom: 0;
    
    width: 100%;
    font-size: 9px;
}
.footerBottom{
    bottom:0;
    background-color: #003333;
    float: none;
    margin: 0 auto;

    
}
.footHeadColor{
    color:#008080;
}
li{
    list-style-type:none;
}
#row2{
   text-align: center; 
}
#row3{
    right: 50px;
}
#leftList{
 padding: 20px;
}
#rightList{
right:0px;
padding: 20px;
border-right:2px solid #008080;
}
#centerList{
    
padding:20px;
}
#socialBox #social {
    text-align: center;
  }
  
  #socialBox #social ul {
    float: left;
  }
  
  #socialBox #social ul li {
    float: left;
    padding-left: 10px;
    list-style-type: none;
  }
p{
    color:white;
}
a{
    color:white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}