<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
  
<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img style="width:100%"src="../../assets/images/boardgrab.jpeg" alt="image of snowboarding">
            <div class="carousel-caption">
              
              <p>WINTER JOBS</p>
              <h3>Now Hiring</h3>
              <p>CHOOSE FROM OVER 50 POSITIONS, INSIDE OR OUTSIDE</p>
              <button class="btn btn-success"><a href="/">BROWSE JOBS</a></button>
            </div>      
          </div>
      <div class="item">
        <img  style="width:100%" src="../../assets/images/back-country-snowboarding.jpg" alt="iamge of snowboarding" width="100%">
        <div class="carousel-caption">
          <p>BUY EARLY AND SAVE</p>
          <h3>TICKET SALE</h3>
          <hr>
          <p>FIND 2-DAY & NIGHT DEALS, FOR A LIMITED TIME</p>
        </div>      
      </div>

      
    </div>
  </div>
</div>
</body>
</html>