<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather</title>
</head>
<body>
  <p>Available Snow Instructors(enter)</p> 
  <input type="text" (keyup.enter)="addRoute(summit)" #summit>
  
  <ul><li *ngFor="let summits of summit$ | async">{{summits.$value}}<button  ><i (click)="updateSummit(summits)" class= " fa fa-pencil"></i></button>
    <!-- <div *ngIf="updateItem && summitToUpdate.id == summit.id"> -->
    <!-- <form (ngSubmit)="updateSummit(summit)">
      <div class="row">
        <div class="input-field col-6">
          <input type="text" placeholder="Add Summit" [(ngModel)]="summit.description" name="description">
          
        </div>
        <input type="submit" value="Submit" class="btn">
      </div>
    </form>
  </div> -->
  <button (click)="delete(summits)">Delete</button></li></ul>
  <button (click)="ngOnDestroy()">Click to shut down database</button>
  <!-- <p>{{summits$ | async | json}}</p> -->
 <!-- <p>Available snowboarding coaches</p>
 <input type="text" (keyup.enter)="addCoach(snowboarders)" #snowboarders>
 <ul><li *ngFor="let snowboarders of snowboarder$ | async">Coach: {{ (snowboarders$ | async).name }}, Cost Per Minute: ${{ (snowboarders$ | async).cost }}</li></ul> -->
 <!-- <ul *ngIf="snowboarders$ | async as snowboarders"><li>Coach: {{ snowboarders.name}}, Cost Per Hour: ${{ snowboarders.skill}}</li></ul> -->
<!-- <ul *ngIf="snowboarders$ | async">
    <li>Coach: {{ (snowboarders$ | async).name }}, Cost Per Minute: ${{ (snowboarders$ | async).skill }}</li>
  </ul> -->
</body>
</html>

