<!DOCTYPE html>
<html>
  <head>
    
  </head>

<body>
  
<div class="navbar">
    <img width=150px height=100px src="../../assets/images/logo.png" alt="Logo of Snoqualmie">
  <div class="dropdown">
    <button class="dropbtn">Plan Your Visit
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        
      </div>   
      <div class="row">
        <div class="column">
          <h5>DEALS & PACKAGES</h5>
          <a href="#">2-Day Lift Ticket</a>
          <a href="#">Military Discount</a>
          <a href="#">Local Passholder Deal</a>
        </div>
        <div class="column">
          <h5>TICKET AND PASSES</h5>
          <a href="#">Lift Tickets</a>
          <a href="#">Season Passes</a>
          
        </div>
        <div class="column">
          <h5>GROUPS</h5>
          <a href="#">Group Packages</a>
        
        </div>
        <div class="column">
          <h5>GETTING HERE</h5>
          <a href="#">Directions</a>
          <a href="#">Parking Guide</a>
          <a href="#">Summit Shuttle</a>
          <a href="#">Shuttles To The Mountain</a>
        </div>
         <div class="column">
          <h5>LODGING</h5>
          <a href="#">Lodging</a>
          <a href="#">Overnight Parking</a>
         
        </div>
      </div>
    </div>
    
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Things To Do
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        
      </div>   
      <div class="row">
        <div class="column">
          <h5>ACTIVITIES</h5>
          <a href="#">Snow Tubing</a>
          <a href="#">Nordic Skiing</a>
          <a href="#">Snowshoeing</a>
        </div>
        <div class="column">
          <h5>EVENTS</h5>
          <a href="#">Upcomming Events</a>  
        </div>
        <div class="column">
          <h5>LESSONS AND RENTALS</h5>
          <a href="#">Daily Lessons</a>
          <a href="#">Multi-Week Lessons Programs</a>
          <a href="#">Teams & Advanced Programs</a>
          <a href="#">Rentals</a>  
        </div>
      </div>
    </div>
  </div> 
  
  <div class="dropdown">
    <button class="dropbtn">The Resort
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        
      </div>   
      <div class="row">
        <div class="column">
          <h5>MOUNTAIN INFO</h5>
          <a href="#">Hours</a>
          <a href="#">Mountain Stats</a>
          <a href="#">Mountain Map</a>
          <a href="#">Terrain Parks</a>
        </div>
        <div class="column">
          <h5>THE BASE</h5>
          <a href="#">Shopping</a>  
          <a href="#">Dining</a>  
        </div>
        <div class="column">
          <h5>SERVICES</h5>
          <a href="#">Equipment Tuning & Repair</a>
          <a href="#">Seasonal Locker Rental</a>
          <a href="#">Ski & Board Check</a>
            
        </div>
      </div>
    </div>
    </div>
    
  <div class="dropdown">
    <button class="dropbtn">Conditions & Cams
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        
      </div>
      </div>
      </div>
      <input id="searchBorder"type="text" class="w3-bar-item w3-input w3-white w3-mobile" placeholder="Search..">
  
</div>


</body>
</html>







 <!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav> -->